*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0e1538;
}
#CSS-Border-Trick{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
#CSS-Border-Trick .box{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(8, 8, 8, 0.432) ;
    overflow: hidden;
    border-radius: 25px;

}
#CSS-Border-Trick .box h2{
    color: white;
    font-size: 3em;
    z-index: 5;
}

#CSS-Border-Trick .box::before{
    content: ' ';
    position: absolute;
    width: 150px;
    height: 150%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
}

#CSS-Border-Trick .box::after{
    content: ' ';
    position: absolute;
    background: #0e1538;
    inset: 4px;
    border-radius: 10px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }

}